@using Twitter.Frontend.BlazorApp.Infrastructure.Models.Dvos
@using Twitter.Frontend.BlazorApp.Infrastructure.Models.ViewModels

@code {

    [Parameter]
    public TweetViewModel tweet { get; set; }

}

<div class="hover:bg-black/10 dark:hover:bg-white/[0.03] cursor-pointer transition ease-in-out py-3 w-full flex flex-col gap-2 p-3 border-gray-500/40 border-b-[0.1px]">
    <div class="flex px-2 items-start gap-4">
        <div class="w-10 h-10">
            <img src="@tweet.ProfilePic" alt="" class="object-cover rounded-full"/>
        </div>
        <div class="flex flex-col">
            <div class="flex gap-1">
                <div class="font-semibold flex gap-3 items-center">
                    <h2>@tweet.ProfileName</h2>
                </div>
                <p class="opacity-50">@($"@{tweet.Username}")</p>
                <p class="opacity-50">· @tweet.Time</p>
            </div>
            <p>@tweet.Content</p>
        </div>
    </div>

    <div class="p-3 self-center sm:w-[85%] h-auto">
        <img src="@tweet.MediaUrl" alt="" class="object-cover rounded-2xl max-w-[100%] h-auto"/>
    </div>


    <div class="flex justify-between sm:w-[80%] w-[95%] self-center">
        <div class="flex gap-1 items-center">
            <span>💬</span> <span>@tweet.RepliesCount</span>
        </div>

        <div class="flex gap-1 items-center">
            <span>❤️</span> <span>@tweet.LikesCount</span>
        </div>
    </div>
</div>